

<app-hero-detail [hero]="selectedHero"></app-hero-detail>


<h2>My Heroes</h2>
<ul class="heroes">
    <li *ngFor="let hero of heroes"
    (click)="onSelect(hero)"
    [class.selected]="hero === selectedHero"
    >

    <span class="badge">{{hero.id}}</span>
    {{hero.name}}
  </li>
</ul>

<div>
    <label>
      <input [(ngModel)]="selectedHero.name" placeholder="name"/>
    </label>
  </div>

  <div>
    <h2>Add hero</h2>
    <input (ngModelChange)="resetError" placeholder="New name" [(ngModel)]="newHeroName">
    <button (click)="onAdd()">Add {{ newHeroName }}</button>
    <p *ngIf="hasError" class="error">"Hero name must be longer than 2"</p>
  </div>

  <div>
    <h2>Delete hero(s)</h2>
    <div *ngIf="deleteDialogOpen; else deleteButtons">
      <p>Are you sure you want to delete all heroes?</p>
      <button (click)="onDeleteAll()">Yes, delete all!</button>
      <button (click)="toggleDeleteDialog(false)">No, just kidding</button>
    </div>
  </div>

  <ng-template #emptyList>
    <p>Heroes list is empty, please add some.</p>
  </ng-template>

  <ng-template #emptyDetails>
    <p>No hero details to show.</p>
  </ng-template>

  <ng-template #deleteButtons>
    <button [disabled]="!heroes.length" (click)="toggleDeleteDialog(true)">Delete all heroes</button>
    <button [disabled]="!showDetails()" (click)="onDeleteSelectedHero()">Delete selected hero</button>
  </ng-template>


